
.movies-index-div {
  // border: 3px solid red;
  position: relative;
  background-color: #131313;
  background-size: cover;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  // overflow-y: hidden;
}

.movie-lis {
  display: flex;
  justify-content: space-evenly;
  padding: 0 5px 3vw 5px;
}

.movie-li {
  text-align: center;
  margin: 0 2px;
  transition: transform 300ms ease 100ms;
  width: 16vw;
  height: 9vw;
  position: relative;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1 }
}

.movie-li:hover .movie-li-title {
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
  opacity: 1;
}

.movie-li-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10%;
  opacity: 0;
}

.movie-li-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.movie-ul:hover .movie-li {
  transform: translateX(-25%);
}

.movie-li:hover ~ .movie-li {
  transform: translateX(25%);
}

.movie-li:hover {
  transform: scale(1.5) !important;
}

.movie-li:hover  .content-drop {
  opacity: 0.7;
}

.content-drop {
  opacity: 0;
  position: absolute;
  color: rgba(0, 0, 0, 0.9);
  font-size: 25px;
  cursor: pointer;
  width: 100%;
  height: 20%;
  bottom: 0;
}

.content-drop:hover {
  color: red;
}

.drop-content {
  height: 42vw;
  position: relative;
}

.drop-background {
  display: flex;
  height: 100%
}

.left {
  background: black;
  color: white;
  width: 30%;
  position: relative;
}

.left:before {
  content: '';
  position: absolute;
  background-image: linear-gradient(to right,#000, transparent);
  top: 0;
  bottom: 0;
  left: 100%;
  width: 275px;
  z-index: 1;
}

.right {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.right-X {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 3vw;
  color: white;
  // border: 3px solid yellow;
  width: 6vw;
  height: 6vw;
  z-index: 2;
}

.right-X:hover {
  cursor: pointer;
}

.drop-content-container {
  // border: 3px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  flex-wrap: wrap;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
  top: 0;
  left: 10px;
  right: 67%;
  // bottom: 0;
  padding: 10px;
  z-index: 1;
}

.drop-movie {
  position: absolute;
  background-color: black;
  pointer-events: none;
}

.movie-title-div {
  // border: 3px solid blue;
  height: 10vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // overflow-wrap: break-word;
}

.movie-title {
  font-size: 3vw;
  color: white;
  
  // position: absolute;
}

.movie-rating {
  border: 1px solid #717171;
  color: #717171;
  padding: .2vw 1vw .1vw 1vw;
}

.movie-year {
  color: #717171;
  padding-right: 2vw;
}

.movie-info-div {
  // border: 3px solid green;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.movie-description-div {
  // border: 3px solid yellow;
  display: flex;
  height: 8vw;
  align-items: center;
}

.movie-description {
  font-size: 1.3vw;
  color: #656665;
}

.movie-buttons-div {
  // border: 3px solid red;
  height: 3vw;
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;
}

.play-btn {
  display: flex;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  background-color: red;
  width: 7vw;
  border-radius: 1px;
  font-size: 1.5vw;
  padding-right: 6px;
  background-clip: content-box;
}

.play-btn:hover {
  background-color: #ff3635;
  transform: scale(1.03,1.03);
  transition: transform 100ms;
}

.add-list {
  display: flex;
  justify-content: center;
  border: 1px solid #717171;
  border-radius: 1px;
  font-size: 1.5vw;
  width: 9vw;
}

.in-list {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #717171;
  border-radius: 1px;
  font-size: 1.5vw;
  width: 9vw;
}

.add-list:hover, .in-list:hover {
  background-color: rgba(30, 30, 30, 0.2);
  transform: scale(1.03,1.03);
  transition: transform 100ms;
  border: 1px solid #717171;
}

.movie-starring-div {
  // border: 3px solid pink;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  height: 3vw;
  color: #656665;
  padding-top: 2vw;
  font-size: 1vw;
}

.movie-starring {
  // border: 1px solid red;
  padding-right: .5vw;
  font-size: 1vw;
  font-weight: bold;
}

.featured-movie-div {
  // border: 3px solid blue;
  height: 55vw;
  width: 100%;
  display: flex;
  // align-items: flex-end;
  position: relative;
}

.featured-movie {
  position: relative;
  top: -7vw;
}

.featured-movie-info {
  // border: 3px solid blue; 
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 30vw;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  top: 12vw;
  z-index: 1;
}

.featured-movie-title-div {
  display: flex;
  justify-content: center;
  // border: 3px solid red;
  height: 15vw;
  width: 80%;
}

.featured-movie-title {
  // border: 3px solid green;
  width: 34vw;
  font-size: 6vw;
  background-image: url('https://i.redd.it/v514dq4oehe21.png');
  background-size: cover;
  background-position: center;
  background-size: 50vw 30vw;
}

.featured-movie-buttons-div {
  // border: 3px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}

.featured-movie-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 1;
}

.featured-play-btn {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(169, 169, 169, 0.3);
  width: 9vw;
  height: 3vw;
  border-radius: 3px;
  font-size: 2vw;
  padding-right: 6px;
  background-clip: content-box;
}

.featured-play-btn:hover {
  background-color: white;
  color: black;
  transform: scale(1.03,1.03);
  transition: transform 100ms;
}

.featured-add-list {
  display: flex;
  justify-content: center;
  background-color: rgba(160, 169, 169, 0.3);
  border-radius: 1px;
  font-size: 2vw;
  width: 11vw;
  height: 3vw;
}

.featured-in-list {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(160, 169, 169, 0.3);
  border-radius: 1px;
  font-size: 2vw;
  width: 11vw;
  height: 3vw;
}

.featured-add-list:hover ,.featured-in-list:hover{
  background-color: white;
  color: black;
  transform: scale(1.03,1.03);
  transition: transform 100ms;
}

.featured-rating-div {
  border-left: 3px solid white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(160, 169, 169, 0.3);
  color: white;
  border-radius: 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.75vw;
  width: 8vw;
  height: 3vw;
  padding-left: 5px;
  position: absolute;
  z-index: 2;
  right: 0;
  // bottom: 10vw;
  top: 28vw;
}

.genre-title {
  // border: 3px solid green;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 8px;
  padding-bottom: 10px;
  margin: 0;
}

.genre-div {
  // border: 3px solid blue;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.movie-uls {
  position: absolute;
  top: 42vw;
  z-index: 2;
  // border: 3px solid red;
}


@media screen and (max-width: 500px) {

    .movie-li {
    border: 3px solid red;
    text-align: center;
    margin: 0 2px;
    transition: transform 300ms ease 100ms;
    width: 9vw;
    height: 16vw;
    position: relative;
  }

}