
.movie-ul {
  display: flex;
  padding: 0 55px;
}

.movie-li {
  flex: 0 0 19.7%;
  text-align: center;
  margin: 0 2px;
  transition: transform 300ms ease 100ms;
  width: 15vw;
  max-width: 230px;
  height: 10vw;
  max-height: 130px;
  background: white;
  position: relative;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1 }
}

.movie-li:hover .movie-li-title {
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
  opacity: 1;
}

.movie-li-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10%;
  opacity: 0;
}

.movie-li-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.movie-ul:hover .movie-li {
  transform: translateX(-25%);
}

.movie-li:hover ~ .movie-li {
  transform: translateX(25%);
}

.movie-li:hover {
  transform: scale(1.5) !important;
}

.movie-li:hover  .content-drop {
  opacity: 0.7;
}

.content-drop {
  opacity: 0;
  position: absolute;
  color: rgba(0,0,0,0.7);
  cursor: pointer;
  bottom: -20px;
  padding-left: 45%;
  padding-right: 55%;
}

.content-drop:hover {
  color: red;
}

.drop-content {
  height: 42vw;
  max-height: 545px;
  margin-top: 30px;
  position: relative;
}

.drop-background {
  display: flex;
  height: 100%
}

.left {
  background: black;
  width: 30%;
  position: relative;
}

.left:before {
  content: '';
  position: absolute;
  background-image: linear-gradient(to right,#000, transparent);
  top: 0;
  bottom: 0;
  left: 100%;
  width: 275px;
}

.right {
  background: green;
  width: 70%;
}

.drop-content-container {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
}