
.movie-ul {
  display: flex;
  padding: 40px 55px;
}

.movie-li {
  flex: 0 0 19.7%;
  text-align: center;
  margin: 0 2px;
  transition: transform 300ms ease 100ms;
  width: 15vw;
  max-width: 230px;
  height: 10vw;
  max-height: 130px;
  background-image: url('https://i.pinimg.com/originals/98/52/80/985280b8d9904fd52d83b17433694a7a.jpg');
  background-size: cover;
  position: relative;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1 }
}

.movie-li:hover .movie-li-title {
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
  opacity: 1;
}

.movie-li-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10%;
  opacity: 0;
}

.movie-li-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.movie-ul:hover .movie-li {
  transform: translateX(-25%);
}

.movie-li:hover ~ .movie-li {
  transform: translateX(25%);
}

.movie-li:hover {
  transform: scale(1.5) !important;
}

.movie-li:hover  .content-drop {
  opacity: 0.7;
}

.content-drop {
  opacity: 0;
  position: absolute;
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  bottom: -20px;
  padding-left: 45%;
  padding-right: 55%;
}

.content-drop:hover {
  color: red;
}

.drop-content {
  height: 42vw;
  max-height: 545px;
  // margin-top: 30px;
  position: relative;
}

.drop-background {
  display: flex;
  height: 100%
}

.left {
  background: black;
  color: white;
  width: 30%;
  position: relative;
}

.left:before {
  content: '';
  position: absolute;
  background-image: linear-gradient(to right,#000, transparent);
  top: 0;
  bottom: 0;
  left: 100%;
  width: 275px;
}

.right {
  background-image: url('https://i.pinimg.com/originals/98/52/80/985280b8d9904fd52d83b17433694a7a.jpg');
  background-size: cover;
  width: 70%;
}

.drop-content-container {
  // border: 3px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  flex-wrap: wrap;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
  top: 0;
  left: 10px;
  right: 67%;
  // bottom: 0;
  padding: 10px;
}

.movie-title-div {
  // border: 3px solid blue;
  height: 10vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // overflow-wrap: break-word;
}

.movie-title {
  font-size: 3vw;
  // position: absolute;
}

.movie-info-div {
  // border: 3px solid green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movie-description-div {
  // border: 3px solid yellow;
  display: flex;
  height: 7vw;
  align-items: center;
}

.movie-description {
  font-size: 1.5vw;
}

.movie-buttons-div {
  // border: 3px solid red;
  height: 3vw;
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;
}

.play-btn {
  display: flex;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  background-color: red;
  width: 6vw;
  border-radius: 1px;
  font-size: 1.5vw;
  padding-right: 6px;
  background-clip: content-box;
}

.add-list {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  border-radius: 1px;
  font-size: 1.5vw;
  width: 8vw;
}

.movie-starring-div {
  // border: 3px solid pink;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  height: 7vw;
  align-items: center
}

.movie-starring {
  // border: 1px solid red;
  padding-right: 3px;
}

.movie-genres-div {
  // border: 3px solid purple;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  height: 6vw;
  align-items: center;
}

.movie-genres {
  // border: 1px solid blue;
  padding-right: 3px;
}

.movie-player {
  position: fixed;
  height: 100%;
  width: 30px;
}

.genre-title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 55px;
}

.genre-div {
  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;
}