@font-face {
  font-family: 'BebasNeue';
  src: url('./fonts/BebasNeue.otf')
}

.nav-bar {
  display: flex;
  padding-bottom: 40px;
}

.logo {
  font-family: BebasNeue;
  font-size: 70px;
  color: #e51413;
  padding-top: 10px;
  padding-left: 15px;

}