@font-face {
  font-family: 'BebasNeue';
  src: font-url('./fonts/BebasNeue.otf')
}

.nav-bar {
  display: flex;
  position: fixed;
  // position: absolute;
  width: 100%;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient( to bottom, #060606, #131313);
  background-clip: content-box;
  z-index: 3;
}

.logo {
  font-family: BebasNeue;
  font-size: 40px;
  color: #FEFFC8;
  text-shadow: 0px 0px 1px #8a0a11;
  padding-left: 25px;
  padding-right: 20px;
}

.nav-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar-ul {
  display: flex;
  justify-content: space-between;
}

.nav-bar-li {
  color: white;
  font-size: 12px;
  font-family: arial;
  padding: 0 0 0 15px;
}

.logout-btn {
  display: flex;
  color: white;
  font-family: arial;
  padding: 0 25px 0 0;
}

.search-bar {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.search-icon {
  font-size: 20px;
}

.search-input {
  margin-left: 5px;
}

.search-header {
  display: flex;
  flex-direction: row;
}