.whole-page {
  background-color: #131313;
  background-size: cover;
  height: 100vh;
  bottom: 0;
  overflow-y: hidden;
}

.session-form-div {
  background-image: image_url('auth_background.jpg');
  background-size: cover;
  background-position: center;
  z-index: 1;
  min-height: 100%;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}

.session-form {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 450px;
  height: 600px;
  margin: 0 auto;
}

.signup-form{
  display: flex;
  height: 90%;
  width: 90%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


.signin-header {
  width: 78%;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: white;
}

::placeholder {
  color: grey;
  opacity: 1;
}

.email-div {
  background-color: #323232;
  border-radius: 5px;
  width: 316px;
  height: 40px;
  align-items: center;
  display: flex;
}

.email-input {
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  vertical-align: middle;
  width: 300px;
  margin-left: 20px;
}

.password-div {
  display: flex;
  background-color: #323232;
  border-radius: 5px;
  width: 316px;
  height: 40px;
}

.password-input {
  color: white;
  font-family: sans-serif;
  vertical-align: middle;
  width: 300px;
  margin-left: 20px;
}

.submit-button {
  background-color: red;
  color: white;
  font-family: sans-serif;
  opacity: 1;

  border-radius: 5px;
  width: 316px;
  height: 40px;
  text-align: center;
}

#signup-link {
  font-family: sans-serif;
  color: white;
}

.signup-btn {
  display: flex;
  font-family: sans-serif;
  color: grey;
  flex-direction: row;
  width: 78%;
}

.signup-link{
  margin-left: 10px;
}

.error-ul {
  font-family: sans-serif;
  color: orange;
  margin: 0 auto;
}

.auth-contact {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.git-div{
  width: 25%;
  height: 100%;
}

.git-link{
  display: flex;
  height: 100%;
  width: 100%;
  background-image: image_url('GitHub-Mark-Light-120px-plus.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.linked-div {
  width: 25%;
  height: 100%;
}

.linkedin-link{
  display: flex;
  height: 100%;
  width: 100%;
  background-image: image_url('LI-In-Bug.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

