// Place all the styles related to the WatchLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.watchList {
  width: 100%;
  z-index: 2;
  position: relative;
  top: 48px;
  height: fit-content;
  background: #131313;
}

.watch-movies {
  color: white;
  font-size: 100px;
  height: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5vh;
}

.watch-lis {
  display: flex;
  padding: 35px 5px 3vw 15px;
  flex-wrap: wrap;
  z-index: 10;

}

.movie-ul{
  width: fit-content;
}

