// Place all the styles related to the WatchLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.watchList {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: relative;
  top: 48px;
}

.watch-movies {
  color: white;
  font-size: 100px;
  height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}