// Place all the styles related to the WatchLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.watchList {
  width: 100vw;
  height: 100vh;
  border: 3px solid blue;
  z-index: 2;
  position: relative;
}

.watch-movies {
  color: white;
  font-size: 100px;
}